<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.activityLifecycle.DialogActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".popups.toast.ToastActivity"
            android:label="@string/toast" />

        <activity
            android:name=".activity.activityLifecycle.AActivity"
            android:label="Activity Lifecycle" />
        <activity
            android:name=".activity.activityLifecycle.BActivity"
            android:label="Activity Lifecycle" />
        <activity
            android:name=".activity.activityLifecycle.OnDestroyActivity"
            android:label="Activity Basic" />
        <activity
            android:name=".fragment.fragmentLifecycle.XMLFragmentActivity"
            android:label="Fragment LifeCycle" />

        <activity
            android:name=".activity.activityLaunchMode.AActivity"
            android:label="A" />
        <activity
            android:name=".activity.activityLaunchMode.BActivity"
            android:label="B" />
        <activity
            android:name=".activity.activityLaunchMode.CActivity"
            android:label="C" />
        <activity
            android:name=".activity.activityLaunchMode.DActivity"
            android:label="D"
            android:taskAffinity="n.n" />
        <activity
            android:name=".activity.activityLaunchMode.SingleInstanceActivity"
            android:label="Single Instance"
            android:launchMode="singleInstance"
            android:taskAffinity="n.n" />
        <activity
            android:name=".activity.activityLaunchMode.SingleTaskActivity"
            android:label="Single Task"
            android:launchMode="singleTask"
            android:taskAffinity="n.n" />
        <activity
            android:name=".activity.activityLaunchMode.SingleTopActivity"
            android:label="Single Top"
            android:launchMode="singleTop"
            android:taskAffinity="n.n" />
        <activity android:name=".fragment.fragmentLifecycle.FragmentTransactionActivity" />
        <activity android:name=".notifications.notificaction.NotificationActivity" />

        <receiver android:name=".notifications.notificaction.NotificationBroadcastReceiver" />
    </application>

</manifest>