<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.vikasrathod.androidbasic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.common.DialogActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ui.toast.ToastActivity"
            android:label="@string/toast" />

        <activity
            android:name=".ui.activityLifecycle.AActivity"
            android:label="Activity Lifecycle" />
        <activity
            android:name=".ui.activityLifecycle.BActivity"
            android:label="Activity Lifecycle" />
        <activity
            android:name=".ui.activityLifecycle.OnDestroyActivity"
            android:label="Activity Basic" />
        <activity
            android:name=".ui.fragmentLifecycle.XMLFragmentActivity"
            android:label="Fragment LifeCycle" />

        <activity
            android:name=".ui.activityLaunchMode.AActivity"
            android:label="A" />
        <activity
            android:name=".ui.activityLaunchMode.BActivity"
            android:label="B" />
        <activity
            android:name=".ui.activityLaunchMode.CActivity"
            android:label="C" />
        <activity
            android:name=".ui.activityLaunchMode.DActivity"
            android:label="D"
            android:taskAffinity="n.n" />
        <activity
            android:name=".ui.activityLaunchMode.SingleInstanceActivity"
            android:label="Single Instance"
            android:launchMode="singleInstance"
            android:taskAffinity="n.n" />
        <activity
            android:name=".ui.activityLaunchMode.SingleTaskActivity"
            android:label="Single Task"
            android:launchMode="singleTask"
            android:taskAffinity="n.n" />
        <activity
            android:name=".ui.activityLaunchMode.SingleTopActivity"
            android:label="Single Top"
            android:launchMode="singleTop"
            android:taskAffinity="n.n" />
        <activity android:name=".ui.fragmentLifecycle.FragmentTransactionActivity" />
        <activity android:name=".ui.notificaction.NotificationActivity" />

        <receiver android:name=".ui.notificaction.NotificationBroadcastReceiver" />
    </application>

</manifest>